@model Olive.Web.MVC.ViewModels.RecipesListViewModel  
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="allRecipesList" class="recipesContainer dottedBorder">
     @Html.Partial("_RecipesListPartial", Model)
</section>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {

        var searchString = $("input#serachString").val();
        console.log(searchString);
        SearchRecipesList(searchString);
    });
</script>