<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OliveDatabaseEntities" connectionString="your connectionString here" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="CLOUDINARY_URL" value="your CLOUDINARY_URL here" />
    <add key="AccountsStoreURL" value="your AccountsStoreURL here" />
    <add key="AccountsFolderName" value="ProfilesImages" />
  </appSettings>
</configuration>