/* File Created: октомври 25, 2014 */

/*#region Normal Green button */

.normalGreenBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.normalGreenBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
	cursor: pointer;
	color:#fff;
	text-decoration: none;
}
.normalGreenBtn:active {
	position:relative;
	top:1px;
}


/*#endregion*/

/*#region Normal Red button */

.normalRedBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #e87262;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e87262;
	box-shadow:inset 0px 1px 0px 0px #e87262;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e87262), color-stop(1, #e24b37) );
	background:-moz-linear-gradient( center top, #e87262 5%, #e24b37 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e87262', endColorstr='#e24b37');
	background-color:#e87262;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #5f5e5d;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	/*height:40px;
	line-height:40px;*/
	/*width:100px;*/
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #5f5e5d;
	padding: 0.4em;
}
.normalRedBtn:hover {
	color:#fff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e24b37), color-stop(1, #e87262) );
	background:-moz-linear-gradient( center top, #e24b37 5%, #e87262 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e24b37', endColorstr='#e87262');
	background-color:#e24b37;
	text-decoration: none;
	cursor: pointer;
	
}.normalRedBtn:active {
	position:relative;
	top:1px;
}

/*#endregion*/

/*#region Create button */

.createBtn {
	-moz-box-shadow: 0px 1px 0px 0px #dce1cb;
	-webkit-box-shadow: 0px 1px 0px 0px #dce1cb;
	box-shadow: 0px 1px 0px 0px #dce1cb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #86b695), color-stop(1, #81987c));
	background:-moz-linear-gradient(top, #86b695 5%, #81987c 100%);
	background:-webkit-linear-gradient(top, #86b695 5%, #81987c 100%);
	background:-o-linear-gradient(top, #86b695 5%, #81987c 100%);
	background:-ms-linear-gradient(top, #86b695 5%, #81987c 100%);
	background:linear-gradient(to bottom, #86b695 5%, #81987c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#86b695', endColorstr='#81987c',GradientType=0);
	background-color:#86b695;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #5f5e5d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5f5e5d;
}
.createBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #81987c), color-stop(1, #86b695));
	background:-moz-linear-gradient(top, #81987c 5%, #86b695 100%);
	background:-webkit-linear-gradient(top, #81987c 5%, #86b695 100%);
	background:-o-linear-gradient(top, #81987c 5%, #86b695 100%);
	background:-ms-linear-gradient(top, #81987c 5%, #86b695 100%);
	background:linear-gradient(to bottom, #81987c 5%, #86b695 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81987c', endColorstr='#86b695',GradientType=0);
	background-color:#81987c;
}
.createBtn:active {
	position:relative;
	top:1px;
}


/*#endregion*/

/*#region Delete button */

.deleteBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.deleteBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.deleteBtn:active {
	position:relative;
	top:1px;
}

/*#endregion*/

/*#region Edit button */

.editBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.editBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.editBtn:active {
	position:relative;
	top:1px;
}

/*#endregion*/

