@{
    ViewBag.Title = "Olive-Администрация";
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationLayout.cshtml";
}
<section class="administrationContainer">
    <h2>Администрация начало</h2>
</section>

